*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #C2C2D6;
  height: 100vh;
  min-height: 662px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: #fff;
  padding: 4px;
}
#display{
  display: flex;
  align-items: flex-end;
  justify-content: end;
  flex-direction: column;
  font-size: 2.4rem;
  height: 90px;
}
.keyboardKey{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.keyboardKey button{
  color: #fff;
  background-color: #4D4D4D;
  min-width: 80px;
  min-height: 70px;
  font-size: 1.3rem;
}
.keyboardKey button:nth-child(1){
  background-color: #AC3939;
  grid-column: 1/3;
}
.keyboardKey button:nth-child(16){
  grid-column: 1/3;
}
.keyboardKey button:nth-child(15){
  background-color: #004466;
  grid-row: 4/6;
  grid-column: 4/5;
}
.keyboardKey button:nth-child(2), button:nth-child(3),  button:nth-child(7), button:nth-child(11){
  background-color: #666666;
}
.keyboardKey button:hover{
  color: #000;
  transform: scale(1.03);
  border: 1px solid rgb(151, 151, 151);
  transition: all 0.1s ease-in-out;
}